{
    "jsc": {
      "experimental": {
        "plugins": [
          [
            "@swc/plugin-styled-components",
            {
              "displayName": true,
              "ssr": false,
              "fileName": false,
              "minify": true
            }
          ]
        ]
      }
    }
  }
