{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'default/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mgmt/mgmt.css' %}">
{% endblock %}

{% block content %}
    <div class="management-index-page">
        <div class="page-grid">
            <div class="page-grid__item">
                <a href="analytics/">
                    <i class="fas fa-shipping-fast"></i>
                    <span>Аналитика</span>
                </a>
            </div>

            <div class="page-grid__item">
                <a href="stage/list/">
                    <i class="fas fa-shipping-fast"></i>
                    <span>Стадии</span>
                </a>
            </div>

            <div class="page-grid__item">
                <a href="step/list/">
                    <i class="fas fa-shipping-fast"></i>
                    <span>Этапы</span>
                </a>
            </div>

            <div class="page-grid__item">
                <a href="student/list/">
                    <i class="fas fa-shipping-fast"></i>
                    <span>Студенты</span>
                </a>
            </div>

            <div class="page-grid__item">
                <a href="subgroup/list/">
                    <i class="fas fa-shipping-fast"></i>
                    <span>Учебные группы</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
