{% extends 'mgmt/base.html' %}
{% load static %}

{% block title %}Удаление учебной группы{% endblock %}


{% block styles %}
  {{ block.super }}
  {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'uikit-mgmt-delete/uikit-mgmt-delete.css' %}"> {% endcomment %}
{% endblock %}

{% block content %}
<h2>Удаление учебной группы</h2>

<form method="post">
    {% csrf_token %}

    <p class="tip warning">
        Вы действительно хотите удалить учебную группу &laquo;<b>{{ instance.title }}</b>&raquo;?<br>
        Она станет недоступна для всех пользователей и администраторов, но останется в базе данных.
    </p>

    <div class="form__actions">
        <button type="submit" class="button primary">Да, удалить</button>
        <a href="{% url 'mgmt:subgroup:delete' instance.pk %}" class="button secondary">Отменить</a>
    </div>
</form>
{% endblock %}
