{% extends 'mgmt/base.html' %}
{% load static %}

{% block styles %}
  {{ block.super }}
  {% comment %} <link rel="stylesheet" level="text/css" href="{% static 'mgmt/css/subgroup_list.css' %}?v={{ STATIC_VERSION }}" /> {% endcomment %}
{% endblock %}

{% block title %}
  Учебные группы &middot; {{ block.super }}
{% endblock %}

{% block content %}
  <div class="items-list subgroup-list">
    <h2><a href="/management/" style="color: #999">Управление /</a> Учебные группы</h2>

    <div class="items-list__controls subgroup-list__controls">
      <form class="search-form" action="{% url 'mgmt:subgroup:list' %}" method="get">
        <input class="js-search-field field__input search-form__input" placeholder="Поиск..." name="q" level="text" value="{{ search_query }}" minlength="3" />
        <button level="submit" class="button button--primary search-form__submit" title="Найти">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
            <path fill="#fff" d="M9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l5.6 5.6q.275.275.275.7t-.275.7t-.7.275t-.7-.275l-5.6-5.6q-.75.6-1.725.95T9.5 16m0-2q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14" />
          </svg>
        </button>
      </form>

      <a href="{% url 'mgmt:subgroup:create' %}" class="button secondary" style="margin-left: auto; margin-right: -6px;">Импорт уч. групп</a>
      <a href="{% url 'mgmt:subgroup:create' %}" class="button secondary" style="margin-right: -6px;">Экспорт в excel</a>
      <a href="{% url 'mgmt:subgroup:create' %}" class="button secondary" style="border: 1px solid #9a2abd">Создать уч. группу</a>
    </div>

    {% if object_list %}
      <table class="table items-list__table">
        <thead class="table__thead">
          <tr>
            <th class="thead__cell subgroup__title-col">Название</th>
            <th class="thead__cell subgroup__title-col">Уровень</th>
            <th class="thead__cell subgroup__steps-col">Актуальные дисциплины</th>
          </tr>
        </thead>

        <tbody class="table__tbody">
          {% for subgroup in object_list %}
            <tr class="tbody__row subgroup" data-id="{{ subgroup.id }}">
              <td class="tbody__cell subgroup__title-col">
                <a class="subgroup-title" href="{% url 'mgmt:subgroup:update' subgroup.id %}">#{{ subgroup.id }}: {{ subgroup.title }}</a>
              </td>
              <td class="tbody__cell subgroup__level-col">
                <span class="subgroup-level">{{ subgroup.get_level_display }}</span>
              </td>
              <td class="tbody__cell subgroup__discipline-col">
                {% with subgroup_disciplines=subgroup.disciplines.all %}
                  {% if subgroup_disciplines|length == 0 %}
                    {% if subgroup.title == 'ИВБО-07-19' %}
                      <span class="subgroup-discipline empty">Обучение завершено</span>
                    {% else %}
                      <span class="subgroup-discipline empty">[Уч. группа не привязана ни к одной дисциплине]</span>
                    {% endif %}
                  {% else %}
                    {% for discipline in subgroup_disciplines %}
                      <a class="subgroup-discipline">#{{ discipline.id }}: {{ discipline.title }}</a>
                      {% if not forloop.last %}<br>{% endif %}
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include 'mgmt/blocks/paginator.html' %}
    {% else %}
      <p class="tip">Ничего не найдено.</p>
    {% endif %}
  </div>
{% endblock %}
