{% extends 'mgmt/base.html' %}
{% load static %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'mgmt/list.min.css' %}" />
{% endblock %}

{% block title %}
  Стадии &middot; {{ block.super }}
{% endblock %}

{% block content %}
  <div class="items-list stage-list">
    <h1>Стадии</h1>

    <div class="items-list__controls stage-list__controls">
      <a href="{% url 'mgmt:stage:create' %}" class="btn items-list__right">Создать стадию</a>
    </div>

    {% if object_list %}
      <table class="table items-list__table">
        <thead class="table__thead">
          <tr>
            <th class="thead__cell stage__title-col">Название</th>
            <th class="thead__cell stage__start_date-col">Дата начала (МСК)</th>
            <th class="thead__cell stage__end_date-col">Дата завершения (МСК)</th>
            <th class="thead__cell stage__steps-col">Список этапов</th>
          </tr>
        </thead>

        <tbody class="table__tbody">
          {% for stage in object_list %}
            <tr>{{ stage.title }}</tr>
            <tr>{{ stage.start_date }}</tr>
            <tr>{{ stage.end_date }}</tr>
            <tr>Список этапов</tr>
          {% endfor %}
        </tbody>
      </table>

      {% include 'mgmt/blocks/paginator.html' %}
    {% else %}
      <p class="tip">Ничего не найдено.</p>
    {% endif %}
  </div>
{% endblock %}
