{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}KRA{% endblock %}</title>

    {% block base_styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'default/default.css' %}" />
    {% endblock %}

    {% block base_scripts %}
        <script type="module" src="{% static '/render/render.js' %}"></script>
        <script type="module" src="{% static '/legacy/legacy.js' %}"></script>
    {% endblock %}

    {% block styles %}{% endblock %}
<head>

{% block header %}
    {% include 'core/default/header.html' %}
{% endblock %}

<div class="root-page-layout">
    <div class="root-content-layout">
        <main class="main-layout">
            {% block content %}{% endblock %}
        </main>

        <aside class="aside-layout">
            {% block aside %}
                {% include 'core/default/notifications.html' %}
                {% include 'core/default/calendar.html' %}
            {% endblock %}
        </aside>
    </div>
</div>
