.management-index-page {
    .page-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-auto-columns: minmax(auto, 200px);
        grid-auto-rows: minmax(120px, auto);

        grid-column-gap: 24px;
        grid-row-gap: 48px;

        .page-grid__item>a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;

            i {
                font-size: 72px;
            }
        }
    }
}
