{% extends 'core/base.html' %}
{% load static common_tags %}

{% block title %}
  {{ block.super }} &middot; Главная
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'main.min.css' %}" />
{% endblock %}

{% block scripts %}
  <script type="module" src="{% static 'core/main.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="page-root">
    <div id="page-root-main"
      data-user="{{ kra_user|dumps }}"
      data-user-access="{{ kra_user_access|dumps }}"
      data-student-context="{{ student_context|dumps }}"
      data-tutor-context="{{ tutor_context|dumps }}"
    ></div>
  </div>
{% endblock %}
